$mainBgColor: #ffffff;
$secondBgColor: #f5f5f5;

$firstAdditionalColor: #453951;
$secondAdditionalColor: #2a272e;
$thirdAdditionalColor: #ea623d;

$titleColor: #333333;
$textColor: #666666;
$secondTextColor: #ffffff;
$footerParagraphColor: #cccccc;

$additionalFontSize: 13px;
$fontRegular: 400;
$fontBold: 600;

$iconColor: #ffffff;

$sectionPadding: 3.5rem;

//bootstrap variables
$breadcrumb-divider: quote('/');

@mixin text-wide {
  font-weight: $fontBold;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  text-decoration: none;
}

.title {
  @include text-wide();
}

.subtitle {
  font-size: 1.125rem;
  font-weight: $fontBold;
  color: $titleColor;

  &--big {
    line-height: 1;
    font-weight: $fontRegular;
    letter-spacing: normal;
    font-size: 2rem;
    color: $titleColor;
  }
}

.icon {
  width: 100%;
  max-width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $thirdAdditionalColor;
  color: $iconColor;
  display: flex;
  align-items: center;
  justify-content: center;

  &--big {
    height: 50px;
    max-width: 50px;
  }
}

.btn-custom {
  @include text-wide();
  box-sizing: border-box;
  border: solid 2px #ccc;
  border-radius: 3px;
  padding: 11px 18px;
  &__big {
    padding: 15px 30px;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem;
  margin-bottom: 1.875rem;

  &__icon {
  }

  &__image {
    flex: 1;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    flex: 1;
    font-size: 0.875rem;
    line-height: 1.57;
    color: $textColor;

    .subtitle {
      margin-bottom: 10px;
    }
  }
}

.boxes {
  background-color: $secondBgColor;
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  margin-top: $sectionPadding;

  &--single {
    .box {
      gap: 1.875rem;

      .subtitle {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__description {
    text-align: center;
    max-width: 735px;
    margin: 0 auto;
    font-size: 1.125rem;
    color: $textColor;

    .title {
      color: #999999;
    }
    .subtitle--big {
      margin-top: 1.875rem;
    }
    p {
      margin-top: 1.375rem;
      line-height: 1.67;
    }
  }

  &__content {
    margin-top: 4.25rem;
  }
}

.purchase {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  gap: 3.125rem;
  font-size: 1.25rem;
  color: $titleColor;
}

.follow-us {
  background-color: $firstAdditionalColor;
  padding-top: calc(#{$sectionPadding} - 2.25rem);
  padding-bottom: calc(#{$sectionPadding} - 2.25rem);
  color: rgba($secondTextColor, 0.4);

  &__social-media {
    justify-content: flex-start;
    gap: 1.875rem;

    .icon__wrapper {
      width: 100%;
      max-width: 250px;
    }
    .icon {
      background-color: rgba($iconColor, 0.4);
    }
  }
  &__newsletter {
    justify-content: flex-end;
    gap: 1.875rem;

    .newsletter-form__input {
      width: 100%;
      max-width: 254px;
      font-size: 0.8125rem;
      border: solid 2px rgba($secondTextColor, 0.4);
      background-color: transparent;
      border-radius: 3px;
      padding: 10px 15px;
      color: rgba($secondTextColor, 0.4);
    }

    .btn-custom {
      background-color: $thirdAdditionalColor;
      border-color: $thirdAdditionalColor;
      color: $secondTextColor;
    }
  }
}

@media (max-width: 1199.98px) {
  .boxes--single {
    .box {
      flex-direction: column;
      align-items: center;

      &__description {
        text-align: center;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .follow-us {
    &__social-media {
      justify-content: center;
    }
    &__newsletter {
      justify-content: center;
    }
  }
}
@media (max-width: 767.98px) {
  .purchase {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .follow-us {
    &__social-media {
      flex-direction: column;
    }
    &__newsletter {
      flex-direction: column;
    }
  }
}
