$mainBgColor: #ffffff;
$secondBgColor: #f5f5f5;

$firstAdditionalColor: #453951;
$secondAdditionalColor: #2a272e;
$thirdAdditionalColor: #ea623d;

$titleColor: #333333;
$textColor: #666666;
$secondTextColor: #ffffff;
$footerParagraphColor: #cccccc;

$additionalFontSize: 13px;
$fontRegular: 400;
$fontBold: 600;

$iconColor: #ffffff;

$sectionPadding: 3.5rem;

//bootstrap variables
$breadcrumb-divider: quote('/');

@mixin text-wide {
  font-weight: $fontBold;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  text-decoration: none;
}

.form-control:focus,
.form-control:active,
.btn:focus,
.navbar-toggler:focus {
  box-shadow: none;
  border-color: none;
}

.title {
  @include text-wide();
}

.subtitle {
  font-size: 1.125rem;
  font-weight: $fontBold;
  color: $titleColor;

  &--big {
    line-height: 1;
    font-weight: $fontRegular;
    letter-spacing: normal;
    font-size: 2rem;
    color: $titleColor;
  }
}

.icon {
  width: 100%;
  max-width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $thirdAdditionalColor;
  color: $iconColor;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  &--big {
    height: 50px;
    max-width: 50px;
  }
}

.link {
  color: $thirdAdditionalColor;
  text-decoration: none;

  &--big {
    font-size: 1.275rem;
    font-weight: $fontBold;
  }
}

.btn-custom {
  @include text-wide();
  box-sizing: border-box;
  border: solid 2px #ccc;
  border-radius: 3px;
  padding: 11px 18px;

  &__big {
    padding: 15px 30px;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem;
  margin-bottom: 1.875rem;

  &__image {
    flex: 1;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    flex: 1;
    font-size: 0.875rem;
    line-height: 1.57;
    color: $textColor;

    .subtitle {
      margin-bottom: 10px;
    }
  }
}

.navbar {
  margin: 1rem 0;
  font-weight: $fontBold;
  font-size: 0.8125rem;
  text-transform: uppercase;

  &-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(234, 98, 61)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  &-nav {
    .nav-link {
      color: $textColor;
      margin-right: 1rem;
      margin-left: 1rem;
      padding: 0 0 0.5rem 0;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: $thirdAdditionalColor;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      &:hover {
        color: $titleColor;

        &:before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
    .active {
      color: $titleColor;
    }
  }
  &__form {
    padding-bottom: 0.5rem;
    overflow: hidden;
    width: 0;
    transition: 0.4s;

    .form-control {
      font-size: 0.8125rem;
      font-weight: $fontBold;
      text-transform: uppercase;
    }

    .btn-custom {
      border-width: 1px;

      &:hover {
        border-color: $thirdAdditionalColor;
        background-color: $thirdAdditionalColor;
        color: $secondTextColor;
        transition: 0.4s;
      }
    }
  }

  .open {
    width: 250px;
  }

  .search-icon {
    padding-bottom: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }
  .dropdown-item {
    font-weight: $fontBold;
    font-size: 0.8125rem;
    text-transform: uppercase;
  }
}

.breadcrumbs {
  background-color: $firstAdditionalColor;
  padding-top: 2.25rem;
  padding-bottom: 2.5rem;

  &__container nav {
    justify-content: flex-end;
  }

  .subtitle--big {
    color: $secondTextColor;
  }

  .breadcrumb {
    margin-bottom: 0;
    color: $secondTextColor;
    font-size: $additionalFontSize;
    padding-left: 0.25rem;

    &-item + .active {
      color: rgba($secondTextColor, 0.4);

      &:before {
        color: rgba($secondTextColor, 0.4);
        padding-right: 0.25rem;
      }
    }
  }
}

.boxes {
  background-color: $secondBgColor;
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  margin-top: $sectionPadding;

  &--single {
    padding-top: $sectionPadding;

    .box {
      gap: 1.875rem;

      .subtitle {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__description {
    text-align: center;
    max-width: 735px;
    margin: 0 auto;
    font-size: 1.125rem;
    color: $textColor;

    .title {
      color: #999999;
    }
    .subtitle--big {
      margin-top: 1.875rem;
    }
    p {
      margin-top: 1.375rem;
      line-height: 1.67;
    }
  }

  &__content {
    margin-top: 4.25rem;
  }
}

.purchase {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  gap: 3.125rem;
  font-size: 1.25rem;
  color: $titleColor;
  text-align: center;
  transition: 0.4s;

  .btn-custom:hover {
    border-color: $thirdAdditionalColor;
    background-color: $thirdAdditionalColor;
    color: $secondTextColor;
    transition: 0.4s;
  }
}

.follow-us {
  background-color: $firstAdditionalColor;
  padding-top: calc(#{$sectionPadding} - 2.25rem);
  padding-bottom: calc(#{$sectionPadding} - 2.25rem);
  color: rgba($secondTextColor, 0.4);

  &__social-media {
    justify-content: flex-start;
    gap: 1.875rem;

    .icon__wrapper {
      width: 100%;
      max-width: 250px;
    }
    .icon {
      background-color: rgba($iconColor, 0.4);
      &:hover {
        background-color: $thirdAdditionalColor;
        transition: 0.4s;
        color: $secondTextColor;
      }
    }
  }
  &__newsletter {
    justify-content: flex-end;
    gap: 1.875rem;

    .newsletter-form__input {
      width: 100%;
      max-width: 254px;
      font-size: 0.8125rem;
      border: solid 2px rgba($secondTextColor, 0.4);
      background-color: transparent;
      border-radius: 3px;
      padding: 10px 15px;
      color: rgba($secondTextColor, 0.4);
    }

    .btn-custom {
      background-color: $thirdAdditionalColor;
      border-color: $thirdAdditionalColor;
      color: $secondTextColor;
    }
  }
}

.data {
  background-color: $secondAdditionalColor;
  padding-top: $sectionPadding;
  padding-bottom: calc(#{$sectionPadding} + 2rem);
  font-size: 0.875rem;
  line-height: 1.57;
  color: $footerParagraphColor;
  position: relative;

  &__content {
    margin-top: 1.875rem;

    img {
      margin-bottom: 0.25rem;
    }
  }

  .col:first-child {
    opacity: 0.2;
  }

  .col + address {
    p {
      &:first-of-type {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .title {
    color: rgba($secondTextColor, 0.4);
  }

  .tweet-date {
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 2.09;
    letter-spacing: 1.1px;
    color: #545158;
  }
}

.to-top {
  width: 100%;
  max-width: 4.375rem;
  height: 4.375rem;
  justify-content: center;
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
  opacity: 0;
  transition: 0.4s;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 1199.98px) {
  .boxes--single {
    .box {
      flex-direction: column;
      align-items: center;

      &__description {
        text-align: center;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .navbar {
    &__form {
      width: 100%;
      max-width: 350px;
    }
    .search-icon {
      display: none;
    }
  }

  .follow-us {
    &__social-media,
    &__newsletter {
      justify-content: center;
    }
  }
}
@media (max-width: 767.98px) {
  .breadcrumbs {
    &__container {
      flex-direction: column;
      gap: 0.75rem;

      nav {
        justify-content: flex-start;
      }
    }
  }

  .purchase {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .follow-us {
    &__social-media,
    &__newsletter {
      flex-direction: column;
    }
  }
}
